data/*
!data/configs/vscode
!data/configs/homepage
configs/homepage/logs/*
configs/haproxy/haproxy.cfg

configs/homepage/bookmarks.yaml
node_modules
vpn.env*
.swp
.env*
.docker/templating-config/__pycache__
.docker/templating-config/venv
.docker/templating-config/app/logs/*
code/
*.swp
backup/*.gz
