data/*
!data/configs/vscode
!data/configs/homepage
configs/homepage/logs/*
configs/haproxy/haproxy.cfg

configs/homepage/bookmarks.yaml
node_modules
vpn.env*
.swp
.env*
containers-config/templating-config/__pycache__
containers-config/templating-config/venv
containers-config/templating-config/app/logs/*
