# Config dir
config/homepage/logs/*
config/haproxy/haproxy.cfg
config/homepage/services.yaml
config/vscode/
# Node
node_modules
# Private and secrets
vpn.env*
# Code
code/
# Backup
backup/
# Others
.swp
*.swp
.env*
.docker/templating-config/__pycache__
.docker/templating-config/venv
.docker/templating-config/app/logs/*
backup/*.gz
