{% raw %}
---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Utilitaires:
    - Connexion VPN:
        description: "Statut de la connexion au VPN"
        icon: si-wireguard
        href: https://vpn.eddi.cloud
        ping: 10.0.0.1
    - File Browser:
        href: ./file-browser
        container: teleporter-filebrowser
        description: "Explorateur de fichiers dans le navigateur"
        icon: mdi-folder-search-outline
    - Terminal 🚀:
        href: ./terminal
        description: "Le Terminal qui permet de manipuler le Téléporteur"
        container: teleporter-terminal
        icon: mdi-console
    - Visual Studio Code:
        description: "Editeur de code développé par Microsoft"
        icon: si-visualstudiocode
        href: ./vscode
        ping: http://localhost/vscode
- Bases de données:
    - Base de données MariaDB:
        description: "Etat de la base de données MariaDB"
        icon: si-mariadb
        container: teleporter-mariadb
        statusStyle: basic
    - Base de données MongoDB:
        description: "Etat de la base de données mongoDB"
        icon: si-mongodb
        container: teleporter-mongodb
        statusStyle: basic
    - Base de données PostgresQL:
        description: "Etat de la base de données PostgresQL"
        icon: si-postgresql
        container: teleporter-postgres
        statusStyle: basic
    - Adminer:
        description: "Interface graphique pour base de données MySQL/MariaDB"
        icon: si-adminer
        href: ./adminer
        ping: http://localhost/adminer
    - PhpMyAdmin:
        description: "Interface graphique pour base de données MySQL/MariaDB"
        icon: si-phpmyadmin
        href: ./phpmyadmin/
        ping: http://localhost/phpmyadmin/
    - Mongo Express:
        description: "Interface graphique pour base de données MongoDB"
        icon: mdi-database-search
        href: ./mongo-express/
        ping: http://localhost/mongo-express/
    - PgAdmin4:
        description: "Interface graphique pour base de données PostgresQL"
        icon: si-postgresql
        href: ./pgadmin
        ping: http://localhost/pgadmin
- Serveurs web:
    - Caddy:
        description: "Sert le code situé dans le dossier /code/www/public en utilisant Caddy"
        icon: si-caddy
        href: http://caddy.{{HOMEPAGE_VAR_VPN_NAME}}.localhost
        siteMonitor: http://10.200.0.10
        #container: teleporter-caddyserver
    - PHP:
        description: "PHP 8.3"
        icon: si-php
        statusStyle: basic
        container: teleporter-php
    - Node 3000:
        description: "NodeJS port 3000"
        icon: si-nodedotjs
        href: http://node3000.{{HOMEPAGE_VAR_VPN_NAME}}.localhost
        siteMonitor: http://10.200.0.202:3000
    - Node 3001:
        description: "NodeJS port 3001"
        icon: si-nodedotjs
        href: http://node3001.{{HOMEPAGE_VAR_VPN_NAME}}.localhost
        siteMonitor: http://10.200.0.202:3001
    - Node 3002:
        description: "NodeJS port 3002"
        icon: si-nodedotjs
        href: http://node3002.{{HOMEPAGE_VAR_VPN_NAME}}.localhost
        siteMonitor: http://10.200.0.202:3002
    - Node 3003:
        description: "NodeJS port 3003"
        icon: si-nodedotjs
        href: http://node3003.{{HOMEPAGE_VAR_VPN_NAME}}.localhost
        siteMonitor: http://10.200.0.202:3003
{% endraw %}
- Ma promo:
{% for client_name, client_ip in clients %}
    - Teleporter de {{ client_name  }}:
        description: Se connecter sur le téléporteur de {{ client_name }}
        icon: si-aiohttp
        href: http://{{ client_name }}.localhost
        siteMonitor: http://{{ client_ip }}
{% endfor %}

