---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/bookmarks

- O'clock:
    - Github {{promo}}:
        - abbr: GH
          href: https://github.com/o-clock-{{promo}}/
    - Slack {{promo}}:
        - abbr: GH
          href: https://oclock-{{promo}}.slack.com/
    - Documentation:
        - abbr: DOC
          href: https://doc.oclock.io/
- TP {{promo}} :
{% for client in clients %}
    - Teleporter de {{client[0]}}:
        - abbr: TP
          href: http://{{client[1]}}.localhost
{% endfor %}


